[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
python-dotenv = "*"
django-liststyle = "==0.2b"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
