[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
django-admin-extra-buttons = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
requests = "*"
python-dotenv = "*"
drf-recaptcha = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
