[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-database-url = "*"
gunicorn = "*"
python-dotenv = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
