@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'janda';
  src: url('./../public/fonts/JandaManateeSolid.ttf') format('truetype');
}

@font-face {
  font-family: 'louis';
  src: url('./../public/fonts/LouisGeorgeCafe.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'louis';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url('./../public/images/flowers.png'), linear-gradient(#FFF7e6, #fcd3d3);
  background-size: contain;
  color: black;
  padding-bottom: 2.25rem;
}

.hidden {
  visibility: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;

}
